html, body, #root {
  //height: 100%;
}

#trends {
  background-image: url("../../assets/get_to_know_us.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Barlow Condensed', sans-serif;
  padding: 10px;
}

#trends-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-weight: 600;
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  max-width: 1199px;
  margin: auto;
  justify-content: space-evenly;
}

.trends-hr {
  width: 30px;
  margin: 10px 0;
  border: 1px solid #f7cd05;
}

.trends-title {
  font-size: 36px;
  color: white;
  text-align: center;
}

.trends-item {
  width: 35%;
  display: flex;
  flex-direction: column;
  background: rgba(129, 42, 193, 0.8);
  border-bottom: 2px solid #F7CD05;
  margin-bottom: 30px;
}

.trends-item-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  height: 100%;
}

.trends-text {
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.trends-author {
  font-weight: 600;
  text-transform: uppercase;
  color: #CDAAE6;
  margin-bottom: 15px;
}

.trends-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trends-section-title {
  color: #F7CD05;
}

.trends-img-container {
  text-align: center;
  background: linear-gradient(0deg, #96236D -51.14%, #4F187E 89.77%);
  opacity: 0.95;
  max-height: 200px;
}

.trends-img {
  //max-height: inherit;
  //min-height: inherit;
  //width: inherit;
  height: 100%;
  width: 100%;
}

.trends-section-img {
  width: 20px;
}

//@media (max-width: 764px) {
//  .trends-img-container {
//    text-align: center;
//    background: linear-gradient(0deg, #96236D -51.14%, #4F187E 89.77%);
//    opacity: 0.95;
//    max-height: 100px;
//    min-height: 100px;
//  }
//
//}

@media (max-width: 1000px) {
  .trends-img-container {
    text-align: center;
    background: linear-gradient(0deg, #96236D -51.14%, #4F187E 89.77%);
    opacity: 0.95;
  }
}

@media (max-width: 720px) {
  #trends-content {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .trends-img-container {
    overflow-y: hidden;
  }
  .trends-item {
    width: 55%;
  }
}