html, body, #root {
  //height: 100%;
}

#culture {
  background: url("../../assets/get_to_know_us.png") round;
  background-size: auto;
  font-family: 'Barlow Condensed', sans-serif;
  height: 100%;
  padding: 10px;
}

#culture-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  //height: 100%;
}

.culture-hr {
  width: 30px;
  margin: 10px 0;
  border: 1px solid #f7cd05;
}

.culture-title {
  font-size: 36px;
  color: white;
  text-align: center;
}

.culture-item__wide {
  margin: auto;
  width: fit-content;
  background: linear-gradient(90deg, #96236D -51.14%, #4F187E 89.77%);
}

.culture-item {
  margin: 15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #96236D -51.14%, #4F187E 89.77%);
  width: 40%;
}

.culture-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.culture-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #FFFFFF;
  height: 36px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.culture-author, {
  font-weight: 600;
  text-transform: uppercase;
  color: #CDAAE6;
}

.culture-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.culture-section-title {
  color: #F7CD05;
}

.culture-img-container {
  text-align: center;
  opacity: 0.95;
  max-height: 200px;
  min-height: 200px;
  width: 100%;
}

.culture-img {
  max-height: inherit;
  min-height: inherit;
  width: inherit;
}

.culture-section-img {
  width: 20px;
}

@media (max-width: 960px) {
  .culture-item {
    width: 80%;
    max-width: 370px;
  }
}